<nav class="top-nav">
  <% const showAdminLink = typeof isAdmin !== 'undefined' ? isAdmin : false; %>
  <!-- Collapsible menu for small screens -->
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
  <div class='menu-button'></div>
  </label>
  <ul class="menu">
    <li>
      <a class="navbar-item <%= navItem === 'new-track' ? 'navbar-highlight' : 'nav-link' %>" href="/">New track</a>
    </li>
    <li>
      <a class="navbar-item <%= navItem === 'my-tracks' ? 'navbar-highlight' : 'nav-link' %>" href="/tracklist">My tracks</a>
    </li>
    <% if (showAdminLink) { %>
      <li>
        <a class="navbar-item <%= navItem === 'admin' ? 'navbar-highlight' : 'nav-link' %>" href="/admin">Admin</a>
      </li>
    <% } %>
  </ul>

  <!-- Navbar Title -->
  <div class="navbar-title">
    <a class="navbar-brand" href="/">
      <h1>Pricewatcher</h1>
    </a>
  </div>

  <!-- Profile/Login -->
  <ul class="profile-menu">
    <li>
      <% if (user) { %>
        <a class="navbar-account-button btn-icon <%= navItem === 'profile' ? 'navbar-account-button-active' : '' %>" href="/profile" aria-label="Profile"></a>
        <!-- <a class="navbar-item <%= navItem === 'profile' ? 'navbar-highlight' : 'nav-link' %>" href="/profile">
          <%= user.name %> 
      </a> -->
      <% } else { %>
      <a class="navbar-item <%= navItem === 'login' ? 'navbar-highlight' : 'nav-link' %>" href="/auth/login">Login</a>
      <% } %>
    </li>
  </ul>
</nav>
